.comparing-slider-container {
    position: relative;
    width: 100%;
    min-width: 320px;
    overflow: hidden;

    img {
        display: block;
    }
}

.comparing-slider-resize-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    img {
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        height: 100%;
        width: auto;
        max-width: none;
    }
}

.visible .comparing-slider-resize-layer {
    width: 50%;
    animation: in-animation 0.8s;
}

@keyframes in-animation {
    0% {
        width: 0;
    }
    50% {
        width: 70%;
    }
    90% {
        width: 45%;
    }
    100% {
        width: 50%;
    }
}

.comparing-slider-handle {
    position: absolute;
    height: 40px;
    width: 40px;
    left: 50%;
    top: 50%;
    margin: -20px 0 0 -20px;
    border-radius: 50%;
    cursor: move;
    background-color: #eee;

    &::before,
    &::after {
        position: absolute;
        content: "";
        top: 50%;
        left: 50%;
        width: 14px;
        height: 14px;
        background-color: rgb(25, 155, 187);
    }

    &::before {
        margin: -7px 0 0 -16px;
        clip-path: polygon(100% 0, 0 50%, 100% 100%);
    }

    &::after {
        margin: -7px 0 0 2px;
        clip-path: polygon(100% 50%, 0 0, 0 100%);
    }

    &.draggable {
        background-color: #668bac;
    }

    &.draggable::before,
    &.draggable::after {
        background-color: #99e5bd !important;
    }
}

.visible .comparing-slider-handle {
    opacity: 1;
    -webkit-opacity: 1;
    transition:
        transform 0.3s 0.7s,
        opacity 0s 0.7s;
}
